@import url("global_config.css");
@import url("navbar.css");
@import url("disqus.css");

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

code {
    background-color: #353835;
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}
