*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Light mode */
    --col-text-light: black;
    --col-bg-light: white;

    /* Dark mode */
    --col-text-dark: white;
    --col-bg-dark: #1a1a1a;

    /* Current theme */
    --col-text: var(--col-text-light);
    --col-bg: var(--col-bg-light);
}

body {
    width: fit-content;
    margin: auto;
    font-family: sans-serif;
    padding: 0 1rem;
    color: var(--col-text) !important;
    background-color: var(--col-bg);
}
